body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main {
  width: 440px;
  height: 440px;
  background: #d7d7d7;
  position: relative;
  overflow: hidden;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
	width: 0;
	height: 0;
	border-bottom: 120px solid red; 
	border-left: 110px solid transparent;
	
}

.circle__small {
  position: absolute;
  top: 150px;
  right: 83px;
	width: 110px;
	height: 110px;
	background: green;
	-moz-border-radius: 55px;
	-webkit-border-radius: 55px;
	border-radius: 55px;
}

.circle__big {
  position: absolute;
  left: -100px;
  top: -116px;
  width: 350px;
	height: 350px;
	background: green;
	-moz-border-radius: 175px;
	-webkit-border-radius: 175px;
	border-radius: 175px;
}

.line__rounded {
  position: absolute;
  bottom: 56px;
  left: 55px;
  width: 332px;
  height: 89px;
  border-radius: 35px;
  background: #822680;
}

.rectangle {
  rotate: 47deg;
  position: absolute;
  bottom: 216px;
  left: 47px;
	width: 355px;
	height: 50px;
	background: blue;
}